<section>
    <div class="container">
        <div class="row">
            <div>
                <a href="">
                    <img src="/images/aavo.jpg" class=" mt-5 pt-5" alt="" style="width: auto; height: auto;">
                </a>
            </div>

            <div class="col-md-6 text-center">
                <div>
                    <a href="/laptop">
                        <img src="/images/laptop.jpg" class="I mt-1 pt-5 mb-5" alt="" style="width: auto; height: auto;">
                    </a>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div>
                    <a href="/air-conditioner">
                        <img src="/images/tv.jpg" class="I mt-1 pt-5 mb-5" alt="" style="width: auto; height: auto;">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .I:hover{
        transform: scale(1.05);
    }
</style>