<section>
    <div class="container">
        <div class="row ">
            <div class="col-12 col-md-6" style="margin-top: 110px; ">

                <div>
                    <img class="i text-center" style="width: 300px; border: solid; border-radius: 50%;   "
                        src="/images/download.png" alt="">
                </div>
            </div>
            <div class="col-md-6 text-center my-auto">
                <label style="font-size: xx-large;" for="">HELLO {{user.name}}...<br>How is My Store</label>
            </div>
            <div class="col-md-4 mt-5">
                <a href="/orders">
                    <div class="order" style="border: solid;  height: 95px;">
                        <img style="margin-top: 5px;" src="/images/Box._CB485927553_.png" alt="">
                        <h5 class="float-right mr-5 mt-4 pr-2 text-dark">My Orders</h5>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mt-5">
                <a href="/cart">
                    <div class="" style="border: solid; height: 95px;">
                        <img style="width: 90px; height: 89px;" src="/images/download (1).png" alt="">
                        <h5 class="float-right mr-5 mt-4 pr-5 text-dark">My Cart</h5>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mt-5">
                <a href="/wishlist">
                    <div class="" style="border: solid; height: 95px;">
                         <img style="width: 90px; height: 89px;" src="/images/194932-200.png" alt="">
                        <h5 class="float-right mr-5 mt-4 pr-5 text-dark">My WishList</h5>
                    </div>
                </a>
            </div>
        </div>
</section>

<style>

</style>