<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container  pl-5" style="margin-top: 130px;">
            <h2 class="text-center text-primary">Login</h2>
            <form action="/user-login" method="POST">
            {{#if loginErr}}
                <p class="error">Invalid Password or Username</p>
            {{/if}}
                <div class="form-group">
                    <label for="">E-mail</label>
                    <input type="email" class="form-control border border-primary" style="border-radius: 20px;" name="email" placeholder="Your Email " />
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" class="form-control border border-primary" style="border-radius: 20px;" name="password" placeholder="Your Password " value="" />
                </div>
                <div class="form-group">
                    <a href="/signup" >Create Account?</a>
                    <button type="submit" class="btn btn-primary float-right">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>