<section>

    <div class="container mt-5 pt-5">

        <div class="row">

            

            {{#each products}}

            <div class="col-md-3 p-3">

                <div class="card "  style="width: 100%; height: 100%;">
                    <img class="Img ml-4 mt-1 mx-auto" style="height: auto; ;" src="/product-images/{{this.product._id}}.jpg">
                    <div class="card-body">

                        <h5 class="card-title">{{this.product.name}}</h5>

                        <p class="card-text">{{this.product.description}}</p>

                        <h6 class="card-text">Rs.{{this.product.price}}</h6>
                        
                    </div>
                </div>
            </div>
            {{/each}}

            
        </div>
        <div class="text-center">
            <a href="/" class="btn btn-primary mt-5">Back to Home Page</a>
        </div>
    </div>
</section>

<style>
    .Img {
        max-width: 100%;
        max-height: 100%;
        display: block;
    }
</style>